<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.king.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="top.king.entity.Article">
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="id" jdbcType="INTEGER" property="uniqueId"/>
        <result column="tag_id" jdbcType="INTEGER" property="tagId"/>
        <result column="type_id" jdbcType="INTEGER" property="typeId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <select id="selectArticles" parameterType="top.king.common.BaseQuery" resultMap="BaseResultMap">
        select
               id,
               title,
               summary,
               create_time,
               tag_id,
               type_id,
               click,
               SUBSTRING(content,1,50) content,
               keyWord,
               user_id,
               appreciate,
               comment
        from t_blog t
        <where>
            <if test='data.title!=null and data.title!=""'>
                and t.title like CONCAT('%', #{data.title}, '%')
            </if>
            <if test='data.summary!=null and data.summary!=""'>
                and t.summary like CONCAT('%', #{data.summary}, '%')
            </if>
            <if test='data.createTime!=null'>
                and DATE_FORMAT(t.create_time,'%Y%m%d')=#{data.createTime}
            </if>
            <if test='data.keyWord!=null and data.keyWord.size()>0'>
                and t.keyWord in
                <foreach item="item" collection="data.keyWord" open="(" separator=" , " close=")">
                    #{item}
                </foreach>
            </if>
            <if test='data.tagId!=null'>
                and t.tag_Id=#{data.tagId}
            </if>
            <if test='data.typeId!=null'>
                and t.type_Id=#{data.typeId}
            </if>
            <if test='data.userId!=null'>
                and t.user_id=#{data.userId}
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="selectAllArticles" resultMap="BaseResultMap">
        select
            id,
            title,
            summary,
            create_time,
            tag_id,
            type_id,
            click,
            keyWord,
            user_id,
            appreciate,
            comment
        from t_blog t
        order by create_time desc
    </select>

    <select id="selectArticleById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select t.*
        from t_blog t
        where t.id = #{id}
    </select>
    <select id="selectBySearch" parameterType="java.lang.String" resultType="top.king.entity.Article">
        select
            id as uniqueId,
            title,
            summary,
            create_time as createTime,
            tag_id,
            type_id,
            click,
            keyWord,
            user_id,
            appreciate,
            comment
        from t_blog t
        where title like concat('%',#{key},'%') or summary like concat('%',#{key},'%')
            and t.keyWord = 1
        order by create_time desc
    </select>
    <delete id="deleteArticle" parameterType="java.lang.String">
        delete t
        from t_blog t
        where t.id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <insert id="insertArticle" parameterType="top.king.entity.Article">
        insert  into t_blog(title,summary,create_time,tag_id,type_id,content,click,comment,keyWord,user_id)
        values (#{title},
                #{summary},
                sysdate(),
                #{tagId},
                #{typeId},
                #{content},
                #{click},
                #{comment},
                #{keyWord},
                #{userId}
                )
    </insert>
    <update id="updateArticle" parameterType="top.king.entity.Article">
        update t_blog
        <set>
            <if test='title!=null'>
                title = #{title},
            </if>
            <if test='summary!=null'>
                summary = #{summary},
            </if>
            <if test='content!=null'>
                content = #{content},
            </if>
        </set>
        where
        id = #{uniqueId}
    </update>
    <update id="updateAppreciate" parameterType="java.lang.String">
        update t_blog
        set appreciate=appreciate+1
        where id=#{primaryKey}
    </update>


</mapper>