<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.king.mapper.StaticShareMapper">

  <insert id="insert" parameterType="top.king.entity.StaticShare">
    insert into t_staticshare (id, fundcode, username, 
      shares, profit, balances, 
      netvalue)
    values (#{id,jdbcType=INTEGER}, #{fundcode,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{shares,jdbcType=DECIMAL}, #{profit,jdbcType=DECIMAL}, #{balances,jdbcType=DECIMAL}, 
      #{netvalue,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="top.king.entity.StaticShare">
    insert into t_staticshare
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fundcode != null">
        fundcode,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="shares != null">
        shares,
      </if>
      <if test="profit != null">
        profit,
      </if>
      <if test="balances != null">
        balances,
      </if>
      <if test="netvalue != null">
        netvalue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fundcode != null">
        #{fundcode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="shares != null">
        #{shares,jdbcType=DECIMAL},
      </if>
      <if test="profit != null">
        #{profit,jdbcType=DECIMAL},
      </if>
      <if test="balances != null">
        #{balances,jdbcType=DECIMAL},
      </if>
      <if test="netvalue != null">
        #{netvalue,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <insert id="insertStaticShareByDuplicate" parameterType="top.king.entity.StaticShare">
    insert into t_staticshare
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fundcode != null">
        fundcode,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="shares != null">
        shares,
      </if>
      <if test="profit != null">
        profit,
      </if>
      <if test="balances != null">
        balances,
      </if>
      <if test="netvalue != null">
        netvalue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fundcode != null">
        #{fundcode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="shares != null">
        #{shares,jdbcType=DECIMAL},
      </if>
      <if test="profit != null">
        #{profit,jdbcType=DECIMAL},
      </if>
      <if test="balances != null">
        #{balances,jdbcType=DECIMAL},
      </if>
      <if test="netvalue != null">
        #{netvalue,jdbcType=DECIMAL},
      </if>
    </trim>
    on duplicate key update
    <trim suffixOverrides=",">
      <if test="netvalue != null">
        netvalue=round(#{shares}/(#{shares}+shares)*#{netvalue}+shares/(#{shares}+shares)*netvalue,6),
      </if>
      <if test="shares != null">
        shares=shares+#{shares,jdbcType=DECIMAL},
      </if>
      <if test="balances != null">
        balances=balances+#{balances,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateStaticShare" parameterType="top.king.entity.StaticShare">
    update t_staticshare
    set netvalue = case when shares-#{shares}=0 then 0 else round((shares*netvalue-#{netvalue}*#{shares})/(shares-#{shares}),6) end,
     shares=ifnull(shares - #{shares,jdbcType=DECIMAL}, 0),
     balances = round(netvalue*shares,2)
    where fundcode = #{fundcode,jdbcType=VARCHAR}
  </update>
  <select id="selectStaticShare" parameterType="top.king.entity.StaticShare" resultType="top.king.entity.StaticShare">
    select *
    from t_staticshare
    <where>
      <if test="id != null">
        and id=#{id}
      </if>
      <if test="fundcode != null">
        and fundcode=#{fundcode}
      </if>
      <if test="username != null">
        and username=#{username}
      </if>
    </where>
  </select>
</mapper>